html, body, .wrapper {
    height: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.wrapper {
    width: 100vw;
    font: 16px/22px 'Arial', sans-serif;
    color: #323232;
    box-sizing: border-box;
    background: linear-gradient(-146deg, rgb(124, 177, 214), rgb(176, 220, 230));
    position: relative;
}

.wrapper_join {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-output {
    width: 100%;
    padding: 60px 20px 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.back-btn {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    user-select: none;
    top: 20px;
    left: 20px;
}



.chat-controls {
    display: flex;
    background: rgb(157, 183, 194);
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    justify-content: space-between;
    box-shadow: 0 -5px 15px rgba(0,0,0,.3);
}

.chat-form {
    display: flex;
    justify-content: space-between;
}



.join-form {
    background: rgb(157, 183, 194);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px 25px 15px;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: calc(100% - 40px);
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
}

.form-title {
    align-self: center;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}




.form-field, .form-btn {
    font: 14px 'Arial', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    white-space: nowrap;
    border: none;
    border-radius: 3px;
}

.form-field-text {
    margin-bottom: 5px;
}

.form-field {
    color: inherit;
}

.form-field_join, .form-btn_join {
    width: 100%;
}

.form-btn {
    background: rgb(52, 88, 143);
    cursor: pointer;
    color: white;
    outline: none;
    user-select: none;
}

.form-btn:active {
    background: rgb(40, 68, 114);
}

.form-field_message {
    width: calc(100% - 96px);
}

.form-btn_send {
    width: 92px;
}

.form-btn_location:disabled {
    opacity: .6;
    cursor: no-drop;
}



.message {
    margin-bottom: 5px;
    border-radius: 3px;
    background: rgb(187, 218, 223);
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
}

.message__title-content {
    font-weight: bold;
}

.message__title-time {
    opacity: .5;
}




@media(min-width: 721px) {

    .chat-output {
        height: calc(100% - 80px);
    }

    .chat-form {
        width: calc(100% - 210px);
    }

    .form-btn_location {
        width: 206px;
    }
}

@media(max-width: 720px) {

    .chat-output {
        height: calc(100% - 135px);
    }

    .chat-controls {
        flex-direction: column;
    }

    .chat-form {
        margin-bottom: 5px;
    }

    .form-btn_location {
        width: 100%;
    }
}