body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chat {
    width: 100vw;
    height: 100vh;
    position: relative;
    font: 16px/22px 'Arial', sans-serif;
    color: #323232;
    box-sizing: border-box;
    padding-bottom: 80px;
    background: linear-gradient(-146deg, rgb(124, 177, 214), rgb(176, 220, 230));
}

.chat__output {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto; 
}

.chat__title {
    font: 26px/46px 'Arial', sans-serif;
}

.chat__controls {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    background: rgb(157, 183, 194);
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 20px;
    justify-content: space-between;
    box-shadow: 0 -5px 15px rgba(0,0,0,.3);
}

.chat__form {
    display: flex;
    height: 100%;
    width: calc(100% - 210px);
    justify-content: space-between;
}

.chat__message {
    width: calc(100% - 96px);
    color: #323232;
}

.chat__send {
    width: 92px;
}

.chat__location {
    width: 206px;
}

.chat__send, .chat__location {
    background: rgb(52, 88, 143);
    cursor: pointer;
    color: white;
    outline: none;
}

.chat__send:active {
    background: rgb(40, 68, 114);
}

.chat__location:active {
    background: rgb(40, 68, 114);
}

.chat__location:disabled {
    opacity: .6;
    cursor: no-drop;
}

.chat__message, .chat__send, .chat__location {
    font: 14px 'Arial', sans-serif;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    white-space: nowrap;
    border: none;
}